<div calss="main_header_area" data-section="headerscript">
{% if section.settings.header_style == 'header_style_1' %}
{% include 'header-one' %}
{% elsif section.settings.header_style == 'header_style_2' %}
{% include 'header-two' %}
{% elsif section.settings.header_style == 'header_style_3' %}
{% include 'header-three' %}
{% elsif section.settings.header_style == 'header_style_4' %}
{% include 'header-four' %}
{% elsif section.settings.header_style == 'header_style_5' %}
{% include 'header-five' %}
{% endif %}
</div>
{% style %}
  .theme-logo img{
    max-width: {{ section.settings.logo_width }}px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Header",
    "settings": [
		{
          "type": "select",
          "id": "header_style",
          "label": "Select Header Style",
          "options":[
            {
              "value":"header_style_1",
              "label": "Header Style One"
            },
            {
              "value":"header_style_2",
              "label": "Header Style Two"
            },
			{
              "value":"header_style_3",
              "label": "Header Style Three"
            },
			{
              "value":"header_style_4",
              "label": "Header Style Four"
            },
			{
              "value":"header_style_5",
              "label": "Header Style Five"
            }
          ],

          "default": "header_style_1"
        },
		{
          "type": "header",
          "content": "Header Width Control"
        },
        {
          "type": "checkbox",
          "id": "fullwidth_on",
          "label": "Full Width Enable",
          "default": false,
          "info": "If you want Full Width click checkbox"
        },
		{
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
		{
          "type": "range",
          "id": "logo_width",
          "label": "Custom logo width",
          "min": 50,
          "max": 300,
          "step": 5,
          "unit": "px",
          "default": 180
        },
		{
          "type": "checkbox",
          "id": "ratina_logo_enable",
          "label": "Retina Logo Enable",
		  "default": false
        },
		{
          "type": "checkbox",
          "id": "google_translate_enable",
          "label": "Google Translate (Language) Enable",
		  "default": true
        },

		
		{
          "type": "header",
          "content": "Mobile Header"
        },
		{
          "type": "checkbox",
          "id": "mobile_search_field_enable",
          "label": "Search Bar Enable",
		  "default": true
        },
		{
          "type": "checkbox",
          "id": "user_menu_enable",
          "label": "Show User Menu",
		  "default": true
        },
		{
          "type": "link_list",
          "id": "user_menu_handle",
          "label": "Select User Menu"
        },
		{
          "type": "header",
          "content": "Offer Message"
        },
		{
          "type": "text",
          "id": "offer_message2",
          "label": "Offer Message",
		  "default": "Free Ground Shipping Over $250"
        },
       {
         "type": "header",
         "content": "Announcement bar"
       },
      {
        "type": "checkbox",
        "id": "bar_on",
        "label": "Enable Announcement bar",
        "default": true
      },
        {
          "type": "html",
          "id": "bar_svg1",
          "label": "Svg 1"
        },
        {
          "type": "text",
          "id": "bar_text1",
          "label": "Text 1"
        },
        {
          "type": "html",
          "id": "bar_svg2",
          "label": "Svg 2"
        },
        {
          "type": "text",
          "id": "bar_text2",
          "label": "Text 2"
        },
        {
          "type": "html",
          "id": "bar_svg3",
          "label": "Svg 3"
        },
        {
          "type": "text",
          "id": "bar_text3",
          "label": "Text 3"
        },
		{
          "type": "header",
          "content": "App Download"
        },
		{
          "type": "checkbox",
          "id": "app_download_enable",
          "label": "App Information enable",
		  "default": true
        },
		{
          "type": "text",
          "id": "app_info_title",
          "label": "App Information Title ",
		  "default": "Download App"
        },
		{
          "type": "text",
          "id": "app_icon_1",
          "label": "App Icon One ",
		  "default": "fa fa-apple"
        },
		{
          "type": "url",
          "id": "app_url_1",
          "label": "App URL"
        },
		{
          "type": "text",
          "id": "app_icon_2",
          "label": "App Icon Two ",
		  "default": "fa fa-android"
        },
		{
          "type": "url",
          "id": "app_url_2",
          "label": "App URL"
        },
		{
          "type": "text",
          "id": "app_icon_3",
          "label": "App Icon Three ",
		  "default": "fa fa-windows"
        },
		{
          "type": "url",
          "id": "app_url_3",
          "label": "App URL"
        },
		{
          "type": "header",
          "content": "Caterory Menu"
        },
		{
          "type": "text",
          "id": "categori_menu_title",
          "label": "Categori Menu Title",
		  "default": "ALL CATEGORIES"
        },
		{
          "type": "checkbox",
          "id": "show_category",
          "label": "Enable Category Menu",
          "default": false
        },
		{
          "type": "link_list",
          "id": "catetory_menu",
          "label": "Select Menu"
        },
		{
          "type": "range",
          "id": "cat_menu_limit",
          "min": 1,
          "max": 15,
          "step": 1,
          "label": "Category Menu Limit",
          "unit": "itm",
          "default": 10
        },
		{
          "type": "text",
          "id": "more_cat_title",
          "label": "More Cat title",
		  "default": "More Categories"
        },
		{
          "type": "text",
          "id": "user_menu_title",
          "label": "User Menu Title",
		  "default": "My Account"
        },
		{
          "type": "text",
          "id": "login_title",
          "label": "Login Title",
		  "default": "Login"
        },
		{
          "type": "text",
          "id": "logout_title",
          "label": "Logout Title",
		  "default": "Logout"
        },
		{
          "type": "checkbox",
          "id": "mobile_header_currency_enable",
          "label": "Show Currency",
		  "default": true
        },
		{
          "type": "text",
          "id": "currency_title",
          "label": "Currency Title",
		  "default": "Currency:"
        },



		{
          "type": "header",
          "content": "Header Top"
        },
		{
          "type": "text",
          "id": "mobile_tel_number",
          "label": "Telephone Number",
		  "default": "(1245) 2456 012"
        },
		{
          "type": "text",
          "id": "Compare_btn",
          "label": "Compare Button",
		  "default": "Compare"
        },
		{
          "type": "url",
          "id": "Compare_btn_url",
          "label": "Compare Button URL"
        },
		{
          "type": "text",
          "id": "wishlist_btn",
          "label": "Wishlist Button",
		  "default": "Wishlist"
        },
		{
          "type": "url",
          "id": "wishlist_btn_url",
          "label": "Wishlist Button URL"
        },
		{
          "type": "checkbox",
          "id": "mobile_social_midea_enable",
          "label": "Social Midea Enable",
		  "default": true
        },


		{
          "type": "header",
          "content": "Mini Cart"
        },
		{
          "type": "text",
          "id": "cart_item_title",
          "label": "Item Title",
		  "default": "Item"
        },
		{
          "type": "text",
          "id": "cart_items_title",
          "label": "Items Title",
		  "default": "Items"
        },

		{
          "type": "text",
          "id": "quantity_title",
          "label": "Quantity Title",
		  "default": "Qty: "
        },
		{
          "type": "text",
          "id": "view_cart_title",
          "label": "View Cart Title",
		  "default": "View Cart"
        },
		{
          "type": "text",
          "id": "checkout_title",
          "label": "Checkout Title",
		  "default": "Checkout"
        }
	]
  }
{% endschema %}
