<section class="single-product section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% section 'product-template' %}
        <div class="row">
          <div class="col-12">
            <div class="large_divider clearfix"></div>
          </div>
        </div>
        {% section 'single-product-tab' %}
        <div class="row">
          <div class="col-12">
            <div class="small_divider"></div>
            <div class="divider"></div>
            <div class="medium_divider"></div>
          </div>
        </div>
        {% section 'related-product' %}
        
      </div>
      {% section 'product-sidebar' %}
    </div>
  </div>
</section>